body {
  padding-top: 10px;
}
a {
  cursor: pointer;
}
img.ribbon {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  border: 0;
}
.byline {
  font-size: 16px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.accordion-body {
  position: relative;
}
.accordion-body .toggle-all {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 12px;
}
#results li.hidden {
  display: none;
}
.github-sentence-item {
  padding: 5px 0 5px 55px;
  position: relative;
  min-height: 50px;
}
.github-sentence-item .avatar {
  position: absolute;
  left: 0;
  top: 2px;
  border: 1px solid #d0d0d0;
  padding: 2px;
}
.github-sentence-item .avatar img {
  width: 40px;
  height: 40px;
}
