body
  padding-top 10px

a
  cursor pointer

img.ribbon
  position fixed
  z-index 1
  top 0
  right 0
  border 0

.byline
  font-size 16px

.container
  width 90%
  margin 0 auto

.accordion-body
  position relative

  .toggle-all
    position absolute
    top 8px
    right 10px
    font-size 12px

#results
  position relative
  &.loading
    height 200px
    &:after
      content ' '
      background url('../img/loading.gif') no-repeat
      position absolute
      width 44px
      height 11px
      left 50%
      top 50%
      margin -6px 0 0 -22px



  li
    &.hidden
      display none

.github-sentence-item
  padding 5px 0 5px 55px
  position relative
  min-height 50px

  .avatar
    position absolute
    left 0
    top 2px
    border 1px solid #D0D0D0
    padding 2px

    img
      width 40px
      height 40px